.wave-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
}

.wave-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* IMPORTANT */
  height: 120px;
  overflow: hidden;
}

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
